
header nav ul li a:hover{
    color: white;
    border-top: 1px solid #FFA155;
}

#menu{
    display: none;
}
nav{
    background-color: #232536;
}

@media screen and (max-width:800px) {
    #menu{
        display: block;
        font-size: 1.5rem;
    }
    #list{
        background-color: aliceblue;
        display: block;
        padding: 1rem 1.5rem;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(10px);
        
    }
    #list a:hover{
        color: black;
    }
    .open{
        transform: translateX(0);
        background-color: red;
    }

    .container{
        width: 90%;
        padding: 10px;
    }
}